<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>VOGUE VISTA</title>
  <meta name="keywords" content="HTML5 Template">
  <meta name="description" content="Molla - Bootstrap eCommerce Template">
  <meta name="author" content="p-themes">
  <!-- Favicon -->
  <link rel="icon" href="images/icons/logoVV.png">
  <!-- Plugins CSS File -->
  <link rel="stylesheet" href="newOne/css/bootstrap.min.css">
  <link rel="stylesheet" href="newOne/css/plugins/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="newOne/css/plugins/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- Main CSS File -->
  <link rel="stylesheet" href="newOne/css/style.css">
</head>