<script src="newOne/js/jquery.min.js"></script>
<script src="newOne/js/bootstrap.bundle.min.js"></script>
<script src="newOne/js/jquery.hoverIntent.min.js"></script>
<script src="newOne/js/jquery.waypoints.min.js"></script>
<script src="newOne/js/superfish.min.js"></script>
<script src="newOne/js/owl.carousel.min.js"></script>
<script src="newOne/js/jquery.magnific-popup.min.js"></script>
<script src="newOne/js/main.js"></script>
<script src="js/dynamicTitle.js"></script>
</body>

</html>